@charset "UTF-8";

ul p {
  margin-top: 0;
  margin-bottom: 5px;
}

ul ul {
  margin-bottom: 0;
}

ul li {
  margin-bottom: 5px;
}

ul > li {
  list-style-type: disc;
}


ul ul > li {
  list-style-type: circle;
}


ul ul ul > li {
  list-style-type: square;
}

@import "pages/tags";
@import "pages/categories";